{% extends 'admin/change_form.html' %}
{% block object-tools %}
{% if original.get_status_display == "Queued" %}
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="submit" formaction="send/" value="Send E-mail Message">
            <input type="submit" formaction="cancel/" value="Cancel E-mail Message">
            <input type="submit" formaction="?view=true" value="View E-mail Message">
        </form>
    </div>
    <br />
{% endif %}
    {{ block.super }}
{% endblock %}
